<!DOCTYPE html>
<html>
    <head>
        <title>Timeline</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/timeline.css">
        <link rel="stylesheet" href="/css/lightbox.css">
    </head>
    <body>
        <div id="container">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-content" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/timeline">Timeline</a>
                    </div>
                <div class="collapse navbar-collapse" id="collapse-content">
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <button type="button" class="btn btn-default">
                              <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" onclick="location.href = '/profile/<%= PgData.user %>'">
                              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= PgData.user.charAt(0).toUpperCase() + PgData.user.substr(1).toLowerCase() %>
                            </button>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#postModal">
                              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Create Post
                            </button>
                        </div>
                    </form>
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <button type="button" class="btn btn-default" onclick="location.href = '/login/end'">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
            <div class="timeline-feed effect8">
                <!--feed data goes in here-->
            </div>

        </div>
        <div class="modal fade" id="postModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="postModalLabel">Create post</h4>
                    </div>
                    <div class="modal-body">
                        <form id="postForm" method="POST" action="/post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="inputFile">Select image</label>
                                <input type="file" id="inputFile">
                                <p class="help-block">only jpeg & png</p>
                            </div>
                            <div class="form-group">
                                <label for="inputCaption">Caption</label>
                                <input type="text" class="form-control" id="inputCaption" placeholder="enter a caption">
                            </div>
                            <div style="text-align: center;">
                                <button type="button" class="btn btn-primary submit" data-loading-text="Uploading..." data-complete-text="Done" data-error-text="Error">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <input type="hidden" id="start" value="<%= PgData.start %>">
    <input type="hidden" id="limit" value="<%= PgData.limit %>">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/lightbox.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/timeline.js"></script>
    </body>
</html>
